<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"] - Resume</title>
    <link rel="stylesheet" href="~/dist/css/styles.css" />
    <link rel="icon" type="image/x-icon" href="~/dist/assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/dist/css/styles.css" rel="stylesheet" />
</head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">Agon Agushi</span>
            <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="~/dist/assets/img/profile.jpg" alt="" /></span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experience</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Interests</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">Projects</a></li>
            </ul>
        </div>
    </nav>
    <!-- Page Content-->
    <div class="container-fluid p-0">
        @RenderBody()
        <!-- About-->
        <section class="resume-section" id="about">
            <div class="resume-section-content">
                <h1 class="mb-0">
                    Agon
                    <span class="text-primary">Agushi</span>
                </h1>
                <div class="subheading mb-5">
                    Prishtine · Kosove · (383) 44510-111 ·
                    <a href="mailto:name@email.com">agonagushi96@gmail.com</a>
                </div>
                <p class="lead mb-5">
                    When I was about twelve, my parents bought me my very first personal computer. Growing up I valued
                    this personal computer to be the best gift I have ever received. I remember the fascination I felt by
                    working with it, whether it was drawing paintings or writing my diary. This fascination has continued
                    over the years and it is what has led me to understand my life goals and the work that I need to do to
                    accomplish these goals.
                    The decision to focus more on the software engineering aspect of computer science has always intrigued
                    me and has been slowly built over the years. I feel that working on what you actually like is one of the
                    first steps to becoming a successful professional and achieving your goals.
                </p>
                <div class="social-icons">
                    <a class="social-icon" href="https://www.linkedin.com/in/agon-agushi-39553219b/"><i class="fab fa-linkedin-in"></i></a>
                    <a class="social-icon" href="https://github.com/agushiagon"><i class="fab fa-github"></i></a>
                    <a class="social-icon" href="https://www.facebook.com/agushiagon/"><i class="fab fa-facebook-f"></i></a>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Experience-->
        <section class="resume-section" id="experience">
            <div class="resume-section-content">
                <h2 class="mb-5">Experience</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Summer Job</h3>
                        <div class="subheading mb-3">The Reeds At Shelter Haven, New Jersey </div>
                        <p>
                            Summer job part of Work and Travel program, where I
                            have improved my English, communication skills and
                            learned teamwork.
                        </p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">06/2018 to 09/2018</span></div>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Education-->
        <section class="resume-section" id="education">
            <div class="resume-section-content">
                <h2 class="mb-5">Education</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">University for Business and Technology (UBT), Prishtinë </h3>
                        <div class="subheading mb-3">Computer Science </div>
                        <div>• Focused on Software Engineering and Development</div>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">September 2016 – Present </span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">ICK JavaScript Training</h3>
                        <div>• Focused on JavaScript and ReactJS fundamentals</div>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">October 2020 – November 2020</span></div>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Skills-->
        <section class="resume-section" id="skills">
            <div class="resume-section-content">
                <h2 class="mb-5">Skills</h2>
                <div class="subheading mb-3">Programming Languages & Tools</div>
                <ul class="list-inline dev-icons">
                    <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                    <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                    <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
                    <li class="list-inline-item"><i class="fab fa-react"></i></li>
                    <li class="list-inline-item"><i class="fab fa-npm"></i></li>
                </ul>
                <div class="subheading mb-3">Skill Highlights </div>
                <ul class="fa-ul mb-0">
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Decision maker
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Problem solver
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Innovative
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Teamwork
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Adaptability
                    </li>
                </ul>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Interests-->
        <section class="resume-section" id="interests">
            <div class="resume-section-content">
                <h2 class="mb-5">Interests</h2>
                <p>Apart from being a developer, I enjoy most of my time being outdoors. During the warmer months here Kosovo, I enjoy mountain biking, free climbing, and hunting.</p>
                <p class="mb-0">When forced indoors, I follow a number of action and comedy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring technology advancements in the front-end web development world.</p>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Awards-->
        <section class="resume-section" id="awards">
            <div class="resume-section-content">
                <h2 class="mb-5">Projects </h2>
                <ul class="fa-ul mb-0">
                    <li>
                        <span class="fa-li"><i class="text-warning"></i></span>
                        <b>Ordinaca</b>
                        (Simple Java desktop program, using JavaSwing
                        to organize small ordinance appointment and hold data
                        for clients.)
                    </li>
                    <li>
                        <span class="fa-li"><i class="text-warning"></i></span>
                        <b>DatingApp</b>
                        (Simple WebApp using C#, MVC architecture
                        done for school.)
                    </li>
                    <li>
                        <span class="fa-li"><i class="text-warning"></i></span>
                        <b>PhotoData</b>
                        (Simple WebPage using Html, Css, JavaScript,
                        where I learned to slice and use AdobePhotoshop.)
                    </li>
                </ul>
            </div>
        </section>
    </div>

    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/dist/js/scripts.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>